.hero-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
}

.hero-banner__content {
    padding: 20px 30px;
    color: white;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-banner__heading {
    font-size: 3rem;
    margin: 0;
}

.hero-banner__button {
    display: flex;
    gap: 20px;
}

.hero-banner__cta {
    background-color: red;
    color: white;
    border: rgb(230, 54, 54);
    outline: rgb(194, 18, 18);
    display: inline-block;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.hero-banner__cta:hover {
    background-color: rgb(235, 103, 103);
    box-shadow: inset 200px 0 0 0 #033422;
}

.hero-banner {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../../assets/banner.jpg");
}

@media screen and (max-width:729px) {
    .hero-banner__content {
        padding: 10px 20px;
        gap: 10px;
    }

    .hero-banner__heading {
        font-size: 2.0rem;
        display: block;
    }
}